<phpunit>
	<testsuites>
		<testsuite name="Twitter Data Design">
			<file>HaversineTest.php</file>
			<file>ProfileTest.php</file>
			<file>TweetTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../public_html/php/classes</directory>
		</whitelist>
	</filter>
</phpunit>