<header>
	<nav class="navbar navbar-expand-lg bg-dark" >
		<a class="navbar-brand " href="#"><i class=" fa fa-twitter"></i></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">

				<li class="nav-item">
					<button class="btn btn-info my-0 mr-sm-2" data-toggle="modal" data-target="#signin-modal"><i class="fa fa-sign-in"></i>&nbsp;Log In</button>
				</li>

				<li class="nav-item">
					<button class="btn btn-info" data-toggle="modal" data-target="#signup-modal"><i class="fa fa-paw"></i>&nbsp;Sign Up!</button>
				</li>

				<li> <button class="btn btn-info" (click)="logOut();">Log Out</button></li>

				<!--<form class="form-inline mb-auto mx-auto ml-sm-2">
					<div class="input-group">
						<input class="form-control" type="search" placeholder="Search" aria-label="Search">
						<span class="input-group-btn">
							<button class="btn btn-info"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>-->
			</ul>
		</div>
	</nav>
</header>